.navbar-font {
    font-size: 1.8vw;
    margin-top: 20px;
}

.nav-link {
    color: inherit;
    color: #404040;
}

.img-mid {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-gal-size {
    width: 100%;
    height: 250px;
}

.img-distance,
.img-distance2 {
    margin-bottom: 2%;
    padding: 10px
}

.distance {
    margin-bottom: 4%;
    padding: 20px;
}

.image {
    margin-top: 70px;
}

.bg-nav {
    background: white;
}

.ins-img {
    margin-bottom: 1.85714286em;
}

section {
    padding-top: 4.95238095em;
    padding-bottom: 4.95238095em;
}

.lead {
    font-weight: 400;
    color: #808080;
    font-size: 1.35714286em;
    line-height: 1.68421053em;
}

.lead2 {
    color: #808080;
    line-height: 1.68421053em;
}

.h3 {
    margin-bottom: 1.04em;
}